@charset "utf-8";
/* CSS Document */

.footerdiv{float:left; text-align:center;}
.footerdiv span{color:#ff017e;border:1px solid #ff017e; border-radius:4px;padding:4px 16px;margin:0 10px 0 0}
.footerdiv a{ text-decoration:none;color:#ffffff;}
.news-item {color: #ffffff}
