
/* --- LAYOUT --- */

.download {
	width: 980px;
	margin: 0 auto;
}

/* --- DOWNLOAD CLIENT --- */
.download {padding:30px 0;}
.download .dl-header-wrap {
	padding-bottom: 10px;
	border-bottom: 1px solid #eaeaea;
}
.download .page-header {
	padding-top: 50px;
}
.download .page-header h1 {
	color: #6b1ba5;
	font-size: 48px;
	font-family: 'carbonitebold', Verdana, sans-serif;
	line-height: 1.1em;
}
.download .tagline {
	color: #516935;
	font-size: 24px;
}
.download .tagline a {
	color: #516935;
	text-decoration: underline;
}
.download .tagline a:hover {
	color: #68863a;
	text-decoration: none;
}
ul.dl-steps {
	list-style-type: none;
	margin: 40px 0;
}
.dl-steps li, .footlinks li {
	float: left;
}
.dl-steps li {
	width: 280px;
	border-right: 2px dotted #acacac;
	padding: 150px 60px 0;
	min-height:180px;
}
.dl-steps li a {
	font-family: 'carbonitebold', Verdana, sans-serif;
}
.dl-steps .install {
	background: url(../../images/jiesai/dl-install.png) center top no-repeat;
}
.dl-steps .backup {
	background: url(../../images/jiesai/dl-backup.png) center top no-repeat;
}
.dl-steps .login {
	background: url(../../images/jiesai/dl-login.png) center top no-repeat;
}
.dl-steps h2 {
	font-size: 18px;
	font-weight: normal;
	font-family: 'carbonite', Verdana, sans-serif;
	margin-bottom: 0;
}
.dl-steps li:last-child {
	border-right: none;
}
.download .help {
	font-size: 16px;
	font-family: 'carboniteultrablack', 'Arial Black', Arial, sans-serif;
	color: #787878;
	border-bottom: none;
	margin-bottom: 0;
}
.download .help span {
	color: #4a4a4a;
}

/* --- SYNC-SHARE DOWNLOAD PG --- */
.dl-sync .dl-steps .folders {background: url(../images/icon/dl-folders.png) center top no-repeat;}
.dl-sync .dl-steps .on-the-go {background: url(../images/icon/dl-on-the-go.png) center top no-repeat;}
.dl-sync .dl-steps .collaborate {background: url(../images/icon/dl-collaborate.png) center top no-repeat;}
.dl-sync .dl-steps li {border:none;}
.dl-sync .appbuttons,
.dl-sync .intro .btn {margin:30px 0;}
.dl-sync .appbuttons img:first-child {margin-right:30px;}


/* --- GENERAL FOOTER --- */
.foot-content {
	padding-top: 10px;
	margin-top:30px;
	width: 100%;
	border-top: 1px solid #acacac;
}
.footlinks li {
	padding-right: 12px;
}
.footlinks a, .footlinks a:link, .footlinks a:visited, .footlinks a:hover, .footlinks a:active {
	color: #606060;
}
.copyright {
	float: right;
}
ul.footlinks {
	float: left;
	width: 50%;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
