body.bj{
     background: -webkit-linear-gradient(left,#f4f4f4 50%,#fff 50%);
background: -moz-linear-gradient(left,#f4f4f4 50%,#fff 50%);
background: -ms-linear-gradient(left,#f4f4f4 50%,#fff 50%);
background: -o-linear-gradient(left,#f4f4f4 50%,#fff 50%);
}
.hidden {
	display:none;
}
abbr, address, cite, code, del, dfn, ins, kbd, q, samp, small, sub, sup, var, b, i {
	margin:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
}
section, article, aside, header, footer, nav, dialog, figure {
	display:block;
}
section {
	margin-left:auto;
	margin-right:auto;
}
* {
	margin:0;
	padding:0;
}
/*
body, input, textarea, button {
	font:12px/18px "\5FAE\8F6F\96C5\9ED1", Helvetica, Arial, Verdana, "\5B8B\4F53";
	color:#666666;
	word-wrap:break-word;
	background:url(../img/index011_02.jpg) repeat-x left top;
}
*/

body, input, textarea, button {
	font:12px/18px "\5FAE\8F6F\96C5\9ED1","΢���ź�", Helvetica, Arial, Verdana, "\5B8B\4F53";
	color:#666666;
	word-wrap:break-word;
	
}
input, textarea, button{background:url(../img/index011_02.jpg) repeat-x left top;}/*lmj0626*/

table {
	border-collapse:collapse;
}
span {
	vertical-align:baseline;
}
ol,li, ul, menu {
	list-style:none;
}
h1, h2, h3, h4, h5, h6 {
	font-size:14px;
	font-weight:bold;
	color:#333;
}
dt {
	font-weight:bold;
}
em {
	font-style:normal;
}
a {
	color:#333333;
	text-decoration:none;
}
a:hover {
	
	color:#3999DA;
}
img {
	border:none;
}
a:focus, a:focus img, input:focus {
	outline:0;
}
.clear {
	clear:both;
}
.fl {
	float:left;
}
.fn {
	float:none;
}
.cb {
	clear:both;
}
.tal {
	text-align:left;
}
.tar {
	text-align:right;
}
.tac {
	text-align:center;
}
.vat {
	vertical-align:top;
}
.vam {
	vertical-align:middle;
}
.ti2em {
	text-indent:2em;
}
.tlf {
	table-layout:fixed;
}
.nowrap {
	white-space:nowrap;
	word-break:normal;
}
.m0 {
	margin:0;
}
.m5 {
	margin:5px;
}
.m10 {
	margin:10px;
}
.m15 {
	margin:15px;
}
.m20 {
	margin:20px;
}
.m25 {
	margin:25px;
}
.mt0 {
	margin-top:0px;
}
.mt5 {
	margin-top:9px;
}
.mt10 {
	margin-top:10px;
}
.mt11 {
	margin-top:1px;
	overflow:hidden;
}
.mt15 {
	margin-top:9px !important;
}
.mt20 {
	margin-top:20px;
}
.mt25 {
	margin-top:25px;
}
.mt30 {
	margin-top:30px;
}

.mt45 {
	margin-top:45px;
}
.mb5 {
	margin-bottom:9px;
}
.mb10 {
	margin-bottom:10px;
}
.mb20 {
	margin-bottom:20px;
}
.mb30 {
	margin-bottom:30px;
}
.mr5 {
	margin-right:5px;
}
.mr20 {
	margin-right:20px;
}
.mr200 {
	margin-right:200px;
}
.wrap {
	table-layout:fixed;
	word-break:break-all;
	overflow:hidden;
}
.p0 {
	padding:0px;
}
.p5 {
	padding:5px;
}
.p10 {
	padding:10px;
}
.p15 {
	padding:15px;
}
.p20 {
	padding:20px;
}
.p25 {
	padding:25px;
}
.pl0 {
	padding-left:0px;
}
.pl1 {
	padding-left:5px;
}
.pl5 {
	padding-left:5px;
}
.pl15 {
	padding-left:15px;
}
.pb25 {
	padding-bottom:25px;
}
.pr15 {
	padding-right:10px;
}
.pb30 {
	padding-bottom:30px;
}
.pt30 {
	padding-top:30px;
}
/*
.header_bar {
	width:1002px;
	height:153px;
	overflow:hidden;
	margin:0px auto 8px;
}*/
.header_bar {
	width:100%;
	height:32px;
	background:#5E5C6D;/*lmj0626*/
}

.header_bara {
	line-height:32px;
}
.header_barlogo{ width:100%;  background:#40c6dd; }
.header_bara .htl {
	float:left;
 	color:#a8d2ee; 
}
/*
.header_bara {
	height:31px;
	overflow:hidden;
	line-height:31px;
}
.header_bara .htl {
	float:left;
}
*/
.header_bara .htr {
	float:right;
}
.header_bara .htr li {
	float:left;
	line-height:31px;
	padding-left:8px;
	padding-right:8px;
	color:#ddd;
	
}
.header_bara .htr li a {
	color:#fff;
}
.header_barbrb a { padding:0 3px; color:#a9a9a9; }

.header_barb img {
	float:left;
	margin-top:10px;
}

.header_barbrb {
	height:25px;
	text-align:left;
	line-height:25px; _margin-top:-19px;
}
.header_barbr {
	float:right;
	padding-top:22px;/*lmj0528*/
}
.header_barbrt {
	overflow:hidden;
}
.header_barbr .srcl {
	background:#399ADB;
	width:180px;
	height:30px;
	float:left;
	border:0px;
	padding-left:10px;
	line-height:30px;
	color:#fff;
	margin-bottom:0px;
	padding-top:0px;
}
.header_barbr .srcr {
	background: url("../../images/ser-icon.png") no-repeat;
    border:none;
    color: #fff;
    float: left;
    height: 18px;
    margin-left: -25px;
    margin-top: 7px;
    width: 18px;
	box-shadow:0 0 0 rgba(0, 0, 0, 0) inset;
}

/*.header_barc {
   background-color: #269ee6;
  *background-color: #269ee6;
  background-image: -moz-linear-gradient(top, #269ee6, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#269ee6), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #269ee6, #0044cc);
  background-image: -o-linear-gradient(top, #269ee6, #0044cc);
  background-image: linear-gradient(to bottom, #269ee6, #0044cc);
  background-repeat: repeat-x;
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff269ee6', endColorstr='#ff0044cc', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
margin: 0 auto;width: 100%;
border:1px solid #0e6eb8;}*/

.header_barc {
   margin-left:50px;
   float:left;
}
/*lmj0626 end */
.header_barc .menul li {
	float:left;
}
.header_barc .menul li a { color:#fff; font-size:16px; text-shadow:1px 1px 1px rgba(0,0,0,0.2); text-decoration:none; outline:none; display:block;}
.header_barc .menul li a {padding:25px 15px;}
/*.header_barc .menul li a span{padding:0 6px 0 0; display:block;}
.header_barc .menul li a em{ padding:0 10px; display:block;}*/
.header_barc .menul li.center { background:none; }
.header_barc .menul li.center a em{ display:block;}
.header_barc .menul li.center a em font{ display:block; padding:0 0px 0 30px; background:url(../img/kzt-0.png) no-repeat left center;}
/*header_barc .menul li a:hover,.header_barc .menul li a.hover { background:url(../img/nav-l.png) no-repeat left 0px; padding:0 15px 0 15px; font-size:15px; text-shadow:0px 0px 0px rgba(0,0,0,0);  color:#333; font-weight:600; text-decoration:none; outline:none; display:block;}*/

.header_barc .menul li a:hover,.header_barc .menul li a.hover { background:#399adb; text-decoration:none; outline:none; display:block;}

/*.header_barc .menul li a:hover span,.header_barc .menul li a.hover span { background:url(../img/nav-r.png) no-repeat right 0px; padding:0 6px 0 0; display:block;} */
/*.header_barc .menul li a:hover em,.header_barc .menul li a.hover em { background:url(../img/nav-c.png) repeat-x left 4px; display:block; line-height:40px;}*/
.header_barc .menul li.center a:hover em font { display:block; padding:0 0px 0 30px; background:url(../img/kzt-1.png) no-repeat left center;}
.header_barc .menul .mic {
	font-size:14px;
	background:url(../img/index011_r2_c2.png) no-repeat left center;
	padding-left:48px;
	text-shadow:1px 1px 1px #1672a9;
}
.header_barc .menur {
	float:right;
	margin:0 6px 0 0;
}
.header_barc .menur li {
	float:left;
	/*width:100px;
	height:27px;
	margin-top:8px;
	margin-right:6px;
	display:inline;
	text-align:left;
	text-indent:35px;
	line-height:27px;*/
	height:30px;

margin: 9px 2px 0px;width:100px;border: 1px solid #1672a9;border-bottom:none;border-radius: 4px 4px 0 0; 
text-shadow: 1px 1px 1px #FFf;color:#333; background:#e6e6e6 url(../img/h_bg001.jpg) repeat-x left top;}
.header_barc .menur li a { display:block; line-height:30px; text-align:left; padding:0 0 0 35px; color:#333; }
.header_barc .menur li a:hover { text-decoration:none; color:#0069a0;}
.header_barc .menur .ur01 a {
	background:url(../img/men01.gif) no-repeat 8px center;
}
.header_barc .menur .ur02 a {
	background:url(../img/men02.gif) no-repeat 8px center;
}
.header_barb a.logo span{ color:#fff; font-size:28px;margin-top:27px;font-weight:bold; float:left;}
.header_barb a.logo:hover{ text-decoration:none;}

.footer_barc a {
	margin-left:10px;
	margin-right:10px;
	color:#fff;
}
.footer_barc a:hover{color:#8DC5E9;text-decoration:none;}
.footer_bar {
	margin:0 auto;
	width:100%;
	background:#3685d2;
}

.footer_barb a img {
	width:56px; vertical-align:middle;
	float:left;
}
.footer_barb{background:#3685d2;}

.footer_barb li {
	float:left;
	margin:0px 7px;
}
.footer_barb li a img {
	display:block;
	height:50px;
	width: 150px;
	border:1px solid #888;
	border-radius:4px;
}
.footer_barc {
	text-align:center;
	padding-top:10px;
	height:25px;
	font-size:14px;
}
.footer_bard {
	text-align:center;
	padding-top:10px;
	color:#a5c6f3;
	line-height:18px;
}
.footer_bard img {
	margin-left:4px;
	margin-right:4px;
}

#hiddenHref{ color:#cccccc;}
#hiddenHref a{padding:0 10px; color:#a8d2ee;}
.blue{ color:#0066cc;}
/*#ico_109 {	background:url(../img/icon020.png) no-repeat left center;}
#ico_11 {background:url(../img/ic01.jpg) no-repeat left center;}
#ico_12 {background:url(../img/ic02.jpg) no-repeat left center;}
 #ico_13 {background:url(../img/icon021.png) no-repeat left center;}
 #ico_14 {background:url(../img/ic04.jpg) no-repeat left center;}
#ico_641{background:url(../img/icon024.png) left center no-repeat;}
#ico_640{background:url(../img/icon025.png) left center no-repeat;}
#ico_647{background:url(../img/icon020.png) left center no-repeat;}
#ico_646{background:url(../img/icon025.png) left center no-repeat;}
#ico_643{background:url(../img/icon026.png) left center no-repeat;}
#ico_648{background:url(../img/icon027.png) left center no-repeat;}
#ico_562{background:url(../img/icon025.png) left center no-repeat;}
#ico_561{background:url(../img/icon020.png) left center no-repeat;}*/

#ico_641{background:url(../img/icon022.png) no-repeat left center;}
#ico_557{background:url(../img/left05.jpg) no-repeat left center;}
#ico_555{background:url(../img/left06.jpg) no-repeat left center;}
#ico_558{background:url(../img/left07.jpg) no-repeat left center;}
#ico_559{background:url(../img/left08.jpg) no-repeat left center;}
#ico_640{background:url(../img/icon023.png) left center no-repeat;}
#ico_647{background:url(../img/icon024.png) left center no-repeat;}
#ico_646{background:url(../img/icon025.png) left center no-repeat;}
#ico_643{background:url(../img/icon020.png) left center no-repeat;}
#ico_648{background:url(../img/icon021.png) left center no-repeat;}
#ico_562{background:url(../img/icon026.png) left center no-repeat;}
#ico_561{background:url(../img/icon027.png) left center no-repeat;}
#ico_665{background:url(../img/icon027.png) left center no-repeat;}
#ico_725{background:url(../img/icon023.png) left center no-repeat;}

#online-service{z-index:999;width:160px; height:280px; background:#f7f7f7; position:fixed; top:160px; right:-162px; -webkit-box-shadow:1px 0 3px #ccc; -moz-box-shadow:1px 0 3px #ccc; box-shadow:1px 0 3px #ccc;border:2px solid #2195DB; border-right:none;  border-radius:5px 0 0 5px;}
#online-service .title{width:41px;height:128px;position: absolute;left:-42px;top:20%;cursor: pointer;}
#online-service .online-service-content{line-height:24px; font-size:14px;}
#online-service .online-service-content .xian{ width:100%; height:1px; border-bottom:1px solid #FFF; background:#ddd;}
#online-service .online-service-content dl{ padding:10px; margin-bottom:10px;}
#online-service .online-service-content dl li.tel{ font-style:italic;} 
#online-service .online-service-content dl li a{ color:#2195DB;}
#online-service .online-service-content dd {margin-left:9px;}
/*home-customer*/
.home-customer ul{ margin:10px 40px;}
.home-customer ul li{ width:180px; margin:0px 18px; border:1px solid #CCC; border-radius:4px;float:left;}
.home-customer ul li:hover{border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);}
.home-customer ul li .customerlogo{ width:170px; height:100px; text-align:center;padding:5px;}
.home-customer ul li .customerlogo img{filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);-webkit-filter: grayscale(100%);}
.home-customer ul li .customertxt{ width:180px; text-align:center; line-height:40px; background:#039DE8;  height:40px;}
.home-customer ul li .customertxt a{color:#FFF; font-weight:bold;}
/*home-customer end*/
/*home-banner&hotpro*/
.home-banner{ height:310px; position:relative; box-shadow:0px 0px 4px inset #000;border-top:1px solid #f5f5f5;}
.home-banner .carousel-inner li{width:100%; height:310px;background-position:50% 50%;}
.home-hotpro h4{ font-size:20px; line-height:50px; font-weight:normal;}
.home-hotpro .hotpros{ display:block; cursor:pointer;}
.home-hotpro .hotpros .hotpro{ border:1px solid #CCC; width:100%;text-align:center; padding-top:10px; z-index:1; display:block;}
.home-hotpro .hotpro h4{ font-size:20px; font-weight:bold; line-height:40px;}
.home-hotpro .hotpro .home-proicon{ width:100%; margin-top:10px; margin-bottom:20px; height:130px;}
.home-hotpro .hotpro p{ height:40px; line-height:40px; background:#999; color:#FFF; width:100%; text-align:center; font-size:15px;}
.home-hotpro .hotpros .hotpro-hover{width:100%;background:#29a9df; display:none; z-index:3; padding-top:10px;border:1px solid #CCC;}
.home-hotpro .hotpros .hotpro-hover .home-proicon{ margin:10px;}
.home-hotpro .hotpros .hotpro-hover .home-proicon span{ color:#FFF; font-size:20px; font-weight:normal; line-height:48px; text-align:center;}
.home-hotpro .hotpros .hotpro-hover .home-proicon img{ width:48px; height:auto;float:left; margin-right:20px;}
.home-hotpro .hotpros .hotpro-hover  p{ color:#FFF; line-height:24px;margin:0px 10px 10px 10px; height:123px; overflow:hidden;}
.home-hotpro .hotpros .hotpro-hover .hoverbtn{ background:#666;color:#FFF; text-align:center; width:100%; height:40px; line-height:40px;box-shadow:0 -3px 3px #7fd9fb;}
.home-hotpro .hotpros .hotpro-hover .hoverbtn a{color:#fff; font-size:15px;}
.home-hotpro .hotpros .hotpro-hover .hoverbtn a i{font-size:18px; margin-right:5px;}
.home-hotpro .hotpros .hotpro-hover .hoverbtn:hover{background:#555; color:#fff; }
.home-hotpro .hotpros .hotpro-hover .hoverbtn:hover a:hover,.home-hotpro .hotpros .hotpro-hover .hoverbtn:hover a{ color:#fff; text-decoration:none;}
.home-hotpro .hotpros:hover .hotpro{ display:none;}
.home-hotpro .hotpros:hover .hotpro-hover{ display:block;}
/*home-banner&hotpro end*/
/*notice*/
.notice{ width:100%; height:42px; line-height:42px; background:#efefef;}
.notice span{background:#3999DA;float:left;font-size:16px;color:#fff;padding-left:20px;}
.notice span i{color:#EFEFEF;margin-left:15px;}
.notice ul li{line-height:42px; font-size:16px; margin:0px 20px 0px 0px; float: left;}
.notice ul li i{ font-size:18px;}
/*notice end*/
/*anli*/
.blk_29 { OVERFLOW: hidden;  ZOOM: 1; POSITION: relative}
.blk_29 .LeftBotton {FLOAT: left; WIDTH: 24px; CURSOR: pointer; POSITION: absolute;HEIGHT: 172px;top:0px;left:0px;}
.blk_29 .RightBotton { FLOAT: right; WIDTH: 24px; CURSOR: pointer; POSITION: absolute;HEIGHT: 172px;top:0px;right:0px;}
.blk_29 .LeftBotton i,.blk_29 .RightBotton i{margin:49px 5px;text-shadow: 0 0px 1px #fff;font-size:28px;}
.blk_29 .LeftBotton i:hover,.blk_29 .RightBotton i:hover,.blk_29 .LeftBotton:hover i,.blk_29 .RightBotton:hover i{color:#29a9df;}
/*anli end*/
/*newindex*/
.home-title {
    border-bottom: 1px solid #e1e1df;
    height: 23px;
    margin-bottom: 40px;
    margin-top: 20px;
}
.home-title h1 {
    background:#fff;
    float: left;
    font-size: 20px;
    line-height:40px;
    height:40px; 
   font-weight:normal;
}
.home-title h1 i{color:#ddd;font-size:12px; margin-left:30px;}
.home-title .more {
    background: none repeat scroll 0 0 #fff;
    color: #3999DA;
    display: block;
    float: right;
    font-size: 12px;
    line-height: 42px;
    padding-left: 5px;
}
.homenew-title {
    border-bottom: 1px solid #ccc;
    height: 13px;
    margin-bottom: 30px;
}
.homenew-title h1 {
    background:#f5f5f5;
    float: left;
    font-size: 18px;
   font-weight:normal;
}
.homenew-title .more {
    background:#f5f5f5;
    color: #3999DA;
    display: block;
    float: right;
    font-size: 12px;
    line-height: 26px;
    padding-left: 5px;
}
.homenew-title h1 i{color:#ccc;font-size:12px; margin-left:15px;}
.homenew ul li{line-height:30px;}
.homenew ul li:first-child a{color:#ff6600;}
.homenew ul li span{ float:right;color:#999;font-style:italic;}
.cloudnews .vt{vertical-align:top;}
.cloudnews .news-time{background:#0AB0DA;border-radius:3px;display:inline-block;color:#fff;height:40px;margin-top:5px;padding:5px 0px;
text-align:center;width:40px;float:left;margin-right:10px;
}
.cloudnews .news-time .month {
    display: block;
    font-size: 12px;
    font-style:italic;
}

.cloudnews .news-time .date {
    display: block;
    font-size: 18px;
    font-weight: bold;
}
.cloudnews ul li a{float:left;width:300px;}
.cloudnews ul li a dl dt{color: #535353;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
     font-size:14px;
     font-weight:normal;
}
.cloudnews ul li a:hover dl dt{color: #0098ca;}
.cloudnews ul li a dl dd{color: #999999;
    font-size: 12px;
    height: 40px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.cloudnews ul li a:hover dl dd{color: #0098ca;}
/*newindex end*/
/*solutionindex*/
.home-solution ul li{text-align:center;}
.home-solution ul li img{border:1px solid #ddd;padding:2px;clear:both;}
.home-solution ul li a{font-size:18px;line-height:50px;font-weight:normal;}
.home-solution ul li p{text-align:left;padding:0px 10px;}
.home-solution ul li p a{color:#888;line-height:24px;font-size:12px;}
.home-solution ul li p a:hover{color:#0098ca;}
/*solutionindex end*/
/*footer*/
.footer-a img{margin-right:10px;}
.footer-a dl{margin-bottom:0px;}
.footer-a dl dt{font-weight:normal;color:#fff;font-size:12px;}
.footer-a dl dd{color:#fff;font-size:20px;font-style:italic;}
.footer-a{color:#fff;}
.footer-a a, .footer-a a:visited{background: #fff;border-radius: 50px;font-size: 18px;padding: 15px 20px; color:#3685d2;text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);}
.footer-a a:hover{background:#fff;text-decoration: none;color:#3685d2;}
/*footer end*/
/*quyu*/
.provinces {
    float: left;
    margin-bottom: 0;
    margin-left: 15px;
    margin-right: 0;
    margin-top: 30px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    position: relative;;
}
.provinces .logo{font-size:15px;color:#fff;}
.provinces .logo label{ display:inline;margin-bottom:0px; font-size:12px;color:#fff;}
.topcity {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("/bj_head/images/x.gif");
    background-origin: padding-box;
    background-position: right 6px;
    background-repeat: no-repeat;
    background-size: auto auto;
    cursor: pointer;
    float: left;
    font-size: 14px;
    line-height: 18px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 10px;
    padding-top: 0;
}
#DivCity {
    background-color: #fff;
    border:2px solid #e3e3e3;
    clear: both;
    display: none;
    float: left;
    left: 0;
    opacity: 0.95;
    overflow-x: hidden;
    overflow-y: hidden;
    padding:10px;
    position: absolute;
    top: 20px;
    width: 480px;
    z-index: 99999;
}
#DivCity ul li {
    margin-bottom:10px;line-height:30px;clear:both;
}
#DivCity ul li span{  font-weight:bold; color:#0e6eb8;width:40px;float:left;}
#DivCity ul li a{ float:left;width:60px;}
#DivCity ul li a:hover{color:#2892d9;}
#DivCity a, a:visited {
	color: #3A87AD;
}
/*quyu*/
