
/* footer */
.tc-footer {
	clear:both;
    background: #f6f6f6;
    padding: 40px 0 80px;
    min-width: 1000px;
}
.tc-footer .tc-footer-columns {
    max-width: 1200px;
    margin: 0 auto;
    font-size: 0;
    text-align: center;
}
.tc-footer .columns {
	float:left;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    width: 19%;
    min-width: 124px;
    margin-bottom: 30px;
}
.tc-footer .columns h3 {
    font-size: 15px;
    color: #333;
    margin-bottom: 10px;
    font-weight: 400;
}
.tc-footer .columns img{
	width:45%;
}
.tc-footer .ct-img img{
	width:80px;
}

.tc-footer .columns ul li, .tc-footer .columns ul li a {
    font-size: 12px;
    color: #777;
    display: block;
    padding:0;
}
.tc-footer .tc-footer-copyright {
    text-align: center;
    clear:both;
}
.tc-footer .tc-footer-copyright .department {
    border-bottom: 1px solid #e3e3e3;
    line-height: 35px;
    margin: 0 auto 15px;
    max-width: 1200px;
}
.tc-footer .tc-footer-copyright .links, .tc-footer .tc-footer-copyright .links a {
    color: #5a5e67;
    font-size: 12px;
    margin: 0 5px;
}
.tc-footer .tc-footer-copyright .links {
    line-height: 20px;
}
.tc-footer .tc-footer-copyright .department, .tc-footer .tc-footer-copyright .department a {
    font-size: 12px;
    color: #777;
}
.tc-footer .tc-footer-copyright .department a {
    white-space: nowrap;
    margin: 0 5px;
}
.tc-footer .tc-footer-copyright .department a i{
padding-right:5px;
}
.tc-footer .columns ul li {
    line-height: 26px;
}
.ct-img {
    float: left;
}
.certification .information{
	float: right;
	padding-top: 24px;
}
/* icomoon */
.icon-zzsc-home-outline:before {
	content: "\e5000";
}
.icon-zzsc-arrow-forward-outline:before {
	content: "\e5001";
}

@media screen and (max-width: 50em) {
	.zzsc-header {
		padding: 3em 10% 4em;
	}
	.zzsc-header h1 {
        font-size:2em;
    }
}


@media screen and (max-width: 40em) {
	.zzsc-header h1 {
		font-size: 1.5em;
	}
}

@media screen and (max-width: 30em) {
    .zzsc-header h1 {
        font-size:1.2em;
    }
}







.header_barc .menul li {
	float:left;
	
}
.header_barc .menul li a { color:#fff; font-size:16px; text-shadow:1px 1px 1px rgba(0,0,0,0.2); text-decoration:none; outline:none; display:block;}
.header_barc .menul li a {padding:25px 15px;}
/*.header_barc .menul li a span{padding:0 6px 0 0; display:block;}
.header_barc .menul li a em{ padding:0 10px; display:block;}*/
.header_barc .menul li.center { background:none; }
.header_barc .menul li.center a em{ display:block;}
.header_barc .menul li.center a em font{ display:block; padding:0 0px 0 30px; background:url(../img/kzt-0.png) no-repeat left center;}
/*header_barc .menul li a:hover,.header_barc .menul li a.hover { background:url(../img/nav-l.png) no-repeat left 0px; padding:0 15px 0 15px; font-size:15px; text-shadow:0px 0px 0px rgba(0,0,0,0);  color:#333; font-weight:600; text-decoration:none; outline:none; display:block;}*/

.header_barc .menul li a:hover,.header_barc .menul li a.hover { background:#66aed7; text-decoration:none; outline:none; display:block;}

/*.header_barc .menul li a:hover span,.header_barc .menul li a.hover span { background:url(../img/nav-r.png) no-repeat right 0px; padding:0 6px 0 0; display:block;} */
/*.header_barc .menul li a:hover em,.header_barc .menul li a.hover em { background:url(../img/nav-c.png) repeat-x left 4px; display:block; line-height:40px;}*/
.header_barc .menul li.center a:hover em font { display:block; padding:0 0px 0 30px; background:url(../img/kzt-1.png) no-repeat left center;}
.header_barc .menul .mic {
	font-size:14px;
	background:url(../img/index011_r2_c2.png) no-repeat left center;
	padding-left:48px;
	text-shadow:1px 1px 1px #1672a9;
}
.header_barc .menur {
	float:right;
	margin:0 6px 0 0;
}
.header_barc .menur li {
	float:left;
	/*width:100px;
	height:27px;
	margin-top:8px;
	margin-right:6px;
	display:inline;
	text-align:left;
	text-indent:35px;
	line-height:27px;*/
	height:30px;

margin: 9px 2px 0px;width:100px;border: 1px solid #1672a9;border-bottom:none;border-radius: 4px 4px 0 0; 
text-shadow: 1px 1px 1px #FFf;color:#333; background:#e6e6e6 url(../img/h_bg001.jpg) repeat-x left top;}
.header_barc .menur li a { display:block; line-height:30px; text-align:left; padding:0 0 0 35px; color:#333; }
.header_barc .menur li a:hover { text-decoration:none; color:#0069a0;}
.header_barc .menur .ur01 a {
	background:url(../img/men01.gif) no-repeat 8px center;
}
.header_barc .menur .ur02 a {
	background:url(../img/men02.gif) no-repeat 8px center;
}
a.logo{float: left;padding-top: 10px;}
.header_barb a.logo span{ color:#0e6eb8; font-size:28px;line-height:50px; font-weight:bold;}
.header_barb a.logo:hover{ text-decoration:none;}

.footer_barc a {
	margin-left:10px;
	margin-right:10px;
	color:#ddd;
}
.footer_barc a:hover{color:#8DC5E9;text-decoration:none;}
.footer_bar {
	margin:0 auto;
	width:100%;
	background:#1E1E24;
}

.footer_barb a img {
	 vertical-align:middle;
    
	float:left;
}
.footer_barb{background:#2E2D37;}
.footer_barb .span4{width:300px;}
.footer_barb .span2{width:240px;}

.footer_barb li {
	float:left;
	margin:0px 7px;
	
}

.footer_barb li a img {
	display:block;
	height:50px;
	width: 150px;
	border:1px solid #888;
	border-radius:4px;
}
.footer_barc {
	text-align:center;
	padding-top:10px;
	height:25px;
	border-bottom:1px solid #40404D;color:#ddd;
}
.footer_bard {
	text-align:center;
	padding-top:10px;
	color:#73787E;
	line-height:18px;
}
.footer_bard img {
	margin-left:4px;
	margin-right:4px;
}

#hiddenHref{ color:#cccccc;}

#hiddenHref a{padding:0 10px; color:#a8d2ee;}
.blue{ color:#0066cc;}



/*#ico_109 {	background:url(../img/icon020.png) no-repeat left center;}
#ico_11 {background:url(../img/ic01.jpg) no-repeat left center;}
#ico_12 {background:url(../img/ic02.jpg) no-repeat left center;}
 #ico_13 {background:url(../img/icon021.png) no-repeat left center;}
 #ico_14 {background:url(../img/ic04.jpg) no-repeat left center;}
#ico_641{background:url(../img/icon024.png) left center no-repeat;}
#ico_640{background:url(../img/icon025.png) left center no-repeat;}
#ico_647{background:url(../img/icon020.png) left center no-repeat;}
#ico_646{background:url(../img/icon025.png) left center no-repeat;}
#ico_643{background:url(../img/icon026.png) left center no-repeat;}
#ico_648{background:url(../img/icon027.png) left center no-repeat;}
#ico_562{background:url(../img/icon025.png) left center no-repeat;}
#ico_561{background:url(../img/icon020.png) left center no-repeat;}*/

#ico_641{background:url(../img/icon022.png) no-repeat left center;}
#ico_557{background:url(../img/left05.jpg) no-repeat left center;}
#ico_555{background:url(../img/left06.jpg) no-repeat left center;}
#ico_558{background:url(../img/left07.jpg) no-repeat left center;}
#ico_559{background:url(../img/left08.jpg) no-repeat left center;}
#ico_640{background:url(../img/icon023.png) left center no-repeat;}
#ico_647{background:url(../img/icon024.png) left center no-repeat;}
#ico_646{background:url(../img/icon025.png) left center no-repeat;}
#ico_643{background:url(../img/icon020.png) left center no-repeat;}
#ico_648{background:url(../img/icon021.png) left center no-repeat;}
#ico_562{background:url(../img/icon026.png) left center no-repeat;}
#ico_561{background:url(../img/icon027.png) left center no-repeat;}
#ico_665{background:url(../img/icon027.png) left center no-repeat;}
#ico_725{background:url(../img/icon023.png) left center no-repeat;}

#online-service{z-index:999;width:210px; height:310px; background:#f7f7f7; position:fixed; top:160px; right:-212px; -webkit-box-shadow:1px 0 3px #ccc; -moz-box-shadow:1px 0 3px #ccc; box-shadow:1px 0 3px #ccc;border:2px solid #2195DB; border-right:none;  border-radius:5px 0 0 5px;}
#online-service .title{width:41px;height:128px;position: absolute;left:-42px;top:20%;cursor: pointer;}
#online-service .online-service-content{line-height:24px; font-size:14px;}
#online-service .online-service-content .xian{ width:100%; height:1px; border-bottom:1px solid #FFF; background:#ddd;}
#online-service .online-service-content dl{ padding:10px;
	margin-bottom:10px; 
  }	
#online-service .online-service-content dl li.tel{ font-style:italic;} 
#online-service .online-service-content dl li a{ color:#2195DB;font-size:12px;}
#online-service .online-service-content dd {margin-left:9px;margin-bottom:5px;}
#ostemplates .active{
    background: #FFffff;}
#imagetemplates .active{
    background: #FFffff;
}
#imagetemplates  option{
    min-width: 500px;
}
.active{background:#ff6600;}
.banner{}
/* .nav {
    bottom: 46px;
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 5;
} */
.nav i{
	border-radius: 50%;
    display: inline-block;
    width: 12px;
    height: 12px;
    background: #fff;
    cursor: pointer;
    margin: 0 5px;
margin-bottom:8px;
}

/*notice*/
.notice{
		position:absolute;
		z-index:23;
		width:100%;
		bottom:0;
		height:32px;
		line-height:32px;
		background:rgba(255,255,255,.2);}
.notice a{
	font-size: 12px;
	display:block;
	overflow:hidden;
	width:300px;
	height:32px;
	color:#fff;
  float: left;
  margin-right: 46px;
}
#marquee_img div{
	width:300px;
	margin:0 30px;
	float:left;
	text-overflow: ellipsis;
	height:32px;
}
.notice span{float:left;font-size:16px;color:#fff;padding-left:20px;  margin-right: 20px;}
.notice span i{color:#fff;margin-left:15px;line-height:32px;}
.notice ul li{line-height:42px; font-size:16px; margin:0px 20px 0px 0px; float: left;}
.notice ul li i{ font-size:18px;}
/*notice end*/
/*anli*/
.blk_29 { OVERFLOW: hidden;  ZOOM: 1; POSITION: relative}
.blk_29 .LeftBotton {FLOAT: left; WIDTH: 24px; CURSOR: pointer; POSITION: absolute;HEIGHT: 172px;top:0px;left:0px;}

.blk_29 .RightBotton { FLOAT: right; WIDTH: 24px; CURSOR: pointer; POSITION: absolute;HEIGHT: 172px;top:0px;right:0px;}
.blk_29 .LeftBotton i,.blk_29 .RightBotton i{margin:49px 5px;text-shadow: 0 0px 1px #fff;font-size:28px;}
.blk_29 .LeftBotton i:hover,.blk_29 .RightBotton i:hover,.blk_29 .LeftBotton:hover i,.blk_29 .RightBotton:hover i{color:#29a9df;}
/*anli end*/
/*newindex*/

.home-title {
    border-bottom: 1px solid #e1e1df;
    height: 23px;
    margin-bottom: 40px;
    margin-top: 20px;
}

.home-title h1 {
    background:#fff;
    float: left;
    font-size: 20px;
    line-height:40px;
    height:40px; 
   font-weight:normal;
  
}
.home-title h1 i{color:#ddd;font-size:12px; margin-left:30px;}

.home-title .more {
    background: none repeat scroll 0 0 #fff;
    color: #3999DA;
    display: block;
    float: right;
    font-size: 12px;
    line-height: 42px;
    padding-left: 5px;
}
.homenew-title {
    border-bottom: 1px solid #ccc;
    height: 13px;
    margin-bottom: 30px;
}

.homenew-title h1 {
    background:#f5f5f5;
    float: left;
    font-size: 18px;
   font-weight:normal;
  
}
.homenew-title .more {
    background:#f5f5f5;
    color: #3999DA;
    display: block;
    float: right;
    font-size: 12px;
    line-height: 26px;
    padding-left: 5px;
}
.homenew-title h1 i{color:#ccc;font-size:12px; margin-left:15px;}
.homenew ul li{line-height:30px;}
.homenew ul li:first-child a{color:#ff6600;}
.homenew ul li span{ float:right;color:#999;font-style:italic;}
.cloudnews .vt{vertical-align:top;}
.cloudnews .news-time{background:#0AB0DA;border-radius:3px;display:inline-block;color:#fff;height:40px;margin-top:5px;padding:5px 0px;
text-align:center;width:40px;float:left;margin-right:10px;
}
.cloudnews .news-time .month {
    display: block;
    font-size: 12px;
    font-style:italic;
}

.cloudnews .news-time .date {
    display: block;
    font-size: 18px;
    font-weight: bold;
}
.cloudnews ul li a{float:left;width:300px;}
.cloudnews ul li a dl dt{color: #535353;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
     font-size:14px;
     font-weight:normal;
}
.cloudnews ul li a:hover dl dt{color: #0098ca;}
.cloudnews ul li a dl dd{color: #999999;
    font-size: 12px;
    height: 40px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.cloudnews ul li a:hover dl dd{color: #0098ca;}
/*newindex end*/
/*solutionindex*/
.home-solution ul li{text-align:center;}
.home-solution ul li img{border:1px solid #ddd;padding:2px;clear:both;}
.home-solution ul li a{font-size:18px;line-height:50px;font-weight:normal;}
.home-solution ul li p{text-align:left;padding:0px 10px;}
.home-solution ul li p a{color:#888;line-height:24px;font-size:12px;}
.home-solution ul li p a:hover{color:#0098ca;}
/*solutionindex end*/
/*footer*/
.footer-a img{margin-right:10px;}
.footer-a dl{margin-bottom:0px;}
.footer-a dl dt{font-weight:normal;color:#fff;font-size:12px;}
.footer-a dl dd{color:#0098CA;font-size:20px;font-style:italic;}
.footer-a{color:#0098CA;}
.footer-a a.zcbtn{background: #0098ca;border-radius: 50px;font-size: 18px;padding: 15px 20px; color:#fff;text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);}
.footer-a a.zcbtn:hover{background:#0089B7;text-decoration: none;}
.footer-a a.kx{color:#0098CA;}
.footer-a a.kx:hover{color:#00BFFF;}
/*footer end*/
