body{
	font-family: "΢���ź�","Helvetica Neue","Luxi Sans","DejaVu Sans",Tahoma,"Hiragino Sans GB",STHeiti,"Microsoft YaHei" !important;
}
.control-group .ostemplates .osList {
    margin-bottom: 5px;
    padding-left: 20px;
    width: 300px;
}
.proApply h1{ border-bottom: 32px solid #61aee2;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    height: 0;
    line-height: 30px;
    margin-left: 20px;
    text-align: center;
    width: 129px; }
.proApply h3{ font-weight:normal;font-size:14px; color:#666;}	
.proApply .xian1{ height:1px;  border-top:1px solid #e1e8ec; background:#F9F9F9;margin:0px -20px; }
.proApply .xian{ height:0px;  border-top:1px dashed #e1e8ec;border-bottom:1px dashed #f9f9f9; }
.proApply .xian2{ height:1px;  border-top:1px solid #e1e8ec; background:#F7F7F7;margin:0px -20px; }
.proApply .span4{ margin-left: 0px; float:right;}
.proApply .span4 .form-horizontal .control-label{ width: 80px;}			
.proApply .span4 .form-horizontal .controls{margin-left: 0px;padding-left:0; }
.proApply .span4 .form-horizontal .controls label{font-size:14px; color:#727272; line-height:30px;font-weight:bold;}
.proApply .span4 .form-horizontal .controls.price2 {margin:0;}
.proApply .span4 .form-horizontal .controls.price2 label{ color:#ff7f00; font-size:28px;}
.proApply .span4 .form-horizontal .controls.price2 .btn{ width:100%;border-radius:0;padding:2px 6px; background:#F80; color:#fff; text-align:center; line-height:24px; font-size:14px; margin-top:20px;}
.proApply .span4 .form-horizontal .controls.price2 .btn:hover{ background:#F60;}
.proApply .span8 .form-horizontal .control-label{ width:80px;}
.proApply .span8 .form-horizontal .controls{ margin-left:104px;}
.proApply .btn{ width:95px; border-radius:0px;color: #333;background: none repeat scroll 0 0 #fff;padding: 7px 0; border:none;}
.proApply .btn.ty{ border-radius: 30px;}
.proApply .btn.active{ background: none repeat scroll 0 0 #65b2ea; color:#fff;}
.proApply .btn:hover{background: none repeat scroll 0 0 #2388c5; color:#fff;}
.proApply .fflx .btn.active{background: none repeat scroll 0 0 #61AEE2; }
.proApply .fflx .btn.active{background: none repeat scroll 0 0 #268DD2; }
.proApply .form-horizontal .control-group{ margin-bottom:20px;}
.proApply .btn.active, .proApply .btn:active{box-shadow: 0 2px 4px rgba(0, 0, 0, 0.0) inset, 0 1px 2px rgba(0, 0, 0, 0.0);}
.proApply .subFee .btn{ width:36px;height:26px;padding:0px 6px; border:1px solid #ccc;  float: left;}
.div_block{
	overflow:hidden;
	background: none repeat scroll 0 0 #e8e8e8;
	/*border: 1px solid #C1D1DB;*/
	border-radius: 4px 4px 4px 4px;
	color: #666;
	cursor: pointer;
	display: inline-block;
	float:left;
	font-size: 14px;
	margin: 0 4px;
	padding: 8px 5px;
	text-align: center;
	margin-bottom:5px;
	margin-left:0px;
	width:95px;
	height: 20px;
}
div.types-options.div_block:hover{background: none repeat scroll 0 0 #65b2ea; color:#fff; border: 1px solid #65b2ea;}
.div_block.active{ background: none repeat scroll 0 0 #65b2ea; color:#fff;/* border: 1px solid #65b2ea;*/}
.div_block.ty{ border-radius: 30px;}
.div_block:hover{background: none repeat scroll 0 0 #65b2ea; color:#fff;/* border: 1px solid #65b2ea;*/}
.dataTables_wrapper {
    clear: both;
    color: #000;
    padding-top: 0px;
    position: relative;
    margin-left: 102px;
}
.func-table{
	margin-bottom: 20px;
	background:#f7f7f7;
	width:100%;
}
.func-table .func-title{
	width: 20px;
	text-align: center;
	background: #f2f2f2;
	color: #cacaca;
	font-size: 12px;
	padding: 10px 3px;
}
.func-table .func-bd {
  padding: 0 24px;
}
.horizontal{
	background:#f7f7f7;
	right:90px;
	width:370px;
}
.input-prepend.input-append .btn:first-child, .input-prepend.input-append .btn:last-child , select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{
	border-radius:0;
	border:1px solid #e8e8e8;
	padding:0px 6px;
	height:26px;
}
input[type="text"]{
	height: 24px;
	line-height: 24px;
	padding:0 6px;
	line-height: 24px;
}
div.types-options{
	border-radius:0;
	padding:2px 6px;
	
}
.div_block.ty{
	border-radius:0;
	padding:2px 6px;
}
p.tips{
	border-radius:0;
	padding:2px 6px;
}
.ui-slider-horizontal{
	height:1em;
	border-radius:0;
}
.ui-slider-horizontal .ui-slider-handle{
	border-radius: 0;
	background: #69b2e9;
	top:-.18em;
}
.ui-corner-all{
	border-radius:0;
}
.ui-slider .ui-slider-range{
	background:#65b2ea;
}
#bandwidth-range-min{
	height:20px;
	background:#e8e8e8;
	border:0;
	position:relative;

}
#bandwidth-range-min a{
	height:2em;
}
#bandwidth-range-min span.one{
	position:absolute;
	left:100px;
	border-right:2px solid #727272;
	height:100%;
	padding-right:5px;
	line-height:20px;
	z-index:99;
	width:80px;
	text-align:right;
}
#bandwidth-range-min span.two{
	left:200px;
}
#bandwidth-range-min span.three{
	left:265px;
	border:0;

}
#dataDisk-range-min{
	background:#e8e8e8;
}





















