/**Ðé»ú¾µÏñ*/
.provider {
    color: #777;
    display: inline-block;
    margin-right: 10px;
    padding: 6px 0;
    vertical-align: middle;
    float:left;
    width:78%;
}
.mirrorType{
	padding-bottom: 44px;
}
.system-provider .provider-filter {
    margin-left: 4px;
    padding: 2px 4px;
}
.provider-filter.selected {
    background: #1f90c8 none repeat scroll 0 0;
    color: #fff;
}
.provider-filter {
    background: #eee none repeat scroll 0 0;
    border-radius: 25px;
    display: inline-block;
    margin-left: 5px;
    padding: 5px 15px;
    cursor: pointer;
}

.pagination {
    float: none;
    position: absolute;
    right: 0;
    color:#777;
    float:right;width:22%;
    margin-top:54px;
}
.wizard-input-section .wizard-content .systemOs{
	margin-bottom:38px;
}

.pagination a {
    margin: 0 0 0 5px;
}
.btn-circle {
    border-radius: 15px;
    padding: 1px 6px;
}
.btn-forbidden{
    background: #ececec none repeat scroll 0 0;
    border-color: #d4d4d4;
    color: #b8b8b8;
}
.system-provider .os-family {
    background: rgba(0, 0, 0, 0) url("../images/all-os-family.png") no-repeat scroll 0 0 /288px auto;
    display: inline-block;
    height: 18px;
    padding: 0 2px;
    vertical-align: middle;
    width: 16px;
}
.system-provider .os-family.os-centos{
	background-position: -10px -15px;
}
.system-provider .os-family.os-window{
	background-position:-58px -15px;
}
.system-provider .os-family.os-ubuntu{
	background-position:-105px -15px;
}
.system-provider .os-family.os-redhat{
	background-position:-146px -15px;
}
.system-provider .os-family.os-suse{
	background-position:-194px -15px;
}
.system-provider .os-family.os-other{
	background-position:-238px -15px;
}
.system-provider .selected .os-family.os-centos {
    background-position: -9px -47px;
}
.system-provider .selected .os-family.os-window {
    background-position: -58px -49px;
}
.system-provider .selected .os-family.os-ubuntu {
    background-position: -105px -48px;
}
.system-provider .selected .os-family.os-redhat {
    background-position: -146px -48px;
}
.system-provider .selected .os-family.os-suse {
    background-position: -194px -48px;
}
.system-provider .selected .os-family.os-other {
    background-position: -238px -48px;
}